@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700,600,400,300);

* {
  font-family: 'Open Sans';
  color: #9B9C9B;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3em;
  font-weight: 'Raleway';
}

.cursive {
  font-family: 'Lobster';
  text-transform: lowercase;
  font-size: .75em;
}

td {
  font-weight: 800;
  font-size:2em;
  text-align: center;
}

.uub, .uut, .uuq, .uup, .uuh, .uus, .uuo {
  font-size: 1.75em;
}
