tr
  td.hidden.heading 4
  td.k.element
  td.ca.element
  td.sc.element
  td.ti.element
  td.v.element
  td.cr.element
  td.mn.element
  td.fe.element
  td.co.element
  td.ni.element
  td.cu.element
  td.zn.element
  td.ga.element
  td.ge.element
  td.as.element
  td.se.element
  td.br.element
  td.kr.element
  
