tr
  td.hidden.heading 6
  td.cs.element
  td.ba.element
  td.striped
  td.hf.element
  td.ta.element
  td.w.element
  td.re.element
  td.os.element
  td.ir.element
  td.pt.element
  td.au.element
  td.hg.element
  td.tl.element
  td.pb.element
  td.bi.element
  td.po.element
  td.at.element
  td.rn.element
  
