tr
  td.hidden.heading 5
  td.rb.element
  td.sr.element
  td.y.element
  td.zr.element
  td.nb.element
  td.mo.element
  td.tc.element
  td.ru.element
  td.rh.element
  td.pd.element
  td.ag.element
  td.cd.element
  td.in.element
  td.sn.element
  td.sb.element
  td.te.element
  td.i.element
  td.xe.element
