tr
  td.la.element
  td.ce.element
  td.pr.element
  td.nd.element
  td.pm.element
  td.sm.element
  td.eu.element
  td.gd.element
  td.tb.element
  td.dy.element
  td.ho.element
  td.er.element
  td.tm.element
  td.yb.element
  td.lu.element
  
